/*    Universal Styles    */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: seashell;

}


body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Indie Flower', cursive;
}

/*   Header and nav bar     */

.header {
    position: fixed;
    top:0;
    height: 5rem;
    border-bottom: 1px solid seashell;
    width: 100%;
    z-index: 100;
    text-align: right;
    padding-right: 1.875rem;
    font-size: 1.1rem;
    background-image: url(background.jpg);
    background-size: cover;
}

.header-nav {
    width: 100%;
    position:relative;
    top: 30%;
    padding: 0 .0625rem;
}

.header .header-nav .logo-container {
    position: relative;
    float: left;
    height: 20%;
    max-width: 20%;
    top: -0.625rem;
}

.header .header-nav .logo {
    height: 50px;
    border-radius: 50%;
}

.logo-name {
    float: left;
    padding-left: .5rem; 
}

.header .header-nav .navbar a {
    margin-left: 1.25rem;
    text-decoration: underline;

}

.slider {
    width: auto; /*50rem*/
    height: auto; /*40rem*/
    border-radius:.625rem;
    overflow: hidden;
    margin-top:10rem;
}

.slides {
    height: 31.25rem;
    width: 500%;
    display: flex;
}

.slides input {
    display:none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img {
    width:40rem;
    height: 31rem;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8%;
    border: 0.125rem solid seashell ;

}

.navigation-manual{
    position: absolute;
    width: 70rem;
    margin-top: -2.5rem;
    display: flex;
    justify-content:center;
}

.manual-btn {
    border: 2px solid seashell;
    padding: 0.3125rem;
    border-radius:0.625rem;
    cursor:pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 2.5rem;
}

.manual-btn:not(:last-child){
    background-color: seashell;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/*  Automatic    */
.navigation-auto {
    position: absolute;
    display: flex;
    width: 50rem;
    justify-content: center;
    margin-top: 28.75rem;
}

/*.navigation-auto div {
    border: .125rem solid #333;
    padding: .313rem;
    border-radius: .625rem;
    transition: 1s;
}*/

.navigation-auto div:not(:last-child){
    margin-right: 2.5rem;
}

#radio1:checked ~ .navigation-auto .auto-btn-1{
    background-color: seashell;
}

#radio2:checked ~ .navigation-auto .auto-btn-2{
    background-color: seashell;
}

#radio3:checked ~ .navigation-auto .auto-btn-3{
    background-color: seashell;
}

#radio4:checked ~ .navigation-auto .auto-btn-4{
    background-color: seashell;
}


/*    Footer     */
.footer-container {
    padding-top: 2rem;
    display: block;
}

.contact,
.copyright {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
}

